# D:\Pet\.env.example

# SECURITY
DEBUG=False
SECRET_KEY=qvo*9ug4z3r9vxuun07y202ql_x=+qh1qdnsjrfn6j&g1=59v0
JWT_SECRET=qvo*9ug4z3r9vxuun07y202ql_x=+qh1qdnsjrfn6j&g1=59v0

# ALLOWED HOSTS
ALLOWED_HOSTS=.twc.run,localhost,127.0.0.1

# DATABASE (Timeweb сам подставит)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# FRONTEND
VITE_API_URL=https://ваш-проект.twc.run/api