# Core
Django==5.1.4
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

# CORS & Utils
django-cors-headers==4.9.0
django-filter==25.1
python-dotenv==1.0.0
pillow==11.3.0

# DB
psycopg2-binary==2.9.9

# WSGI
gunicorn==21.2.0

# Optional / Dev (можно оставить или убрать по желанию)
django-environ==0.12.0
django-extensions==3.2.3
django-timezone-field==7.2.1
drf-spectacular==0.28.0
sentry-sdk==2.44.0